Welcome to first-email.com, <%= @contact.name %>
===============================================

I have succesfully delivered my first email to you using application_mailer

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!