/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 *
 *= require dropzone/dropzone
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.header{
  background: radial-gradient(#1F3B8B, #3996d3);
  position: fixed;
  height:100px;
  width: 100%;
  margin:0px auto;
  top: 0px;
  z-index: 2;
  h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
  }
}

#content-wrapper {
  margin-top: 150px;
}

.table-image {
  height: 30px;
  width: 30px;
}
table#profile {
  @extend .table;
  @extend .table-bordered;

  width: 30%;
  margin: 0 auto;

  thead {
    th {
      background-color: #dddddd;
      border: 1px solid #ccc;
      img {
        margin: 10px auto;
      }
    }
  }
  td {
    width: 50%;
    border: 1px solid #ccc;
    text-align: center;
  }
}

.panel {
  z-index: 1;
  top: 110px;
}
.contact_form {
  @extend .panel;
  @extend .panel-success;
}

.si{
  float: left;
  margin-right: 5px;
  width:40px;
  height:40px;
}

.st{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 134px;
}
.help-block{
  display: none;
}
.field_with_errors {
  color: red;
  input[type=text] {
    border: 1px solid red;
  }
}
.actions{
  text-align: center;

}
.new-contact{
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-fixed-top {
  top: 100px;
  background:linear-gradient(white, #cccccc, #aaaaaa);
}
.navbar{
  &.list-group{
    z-index:10000;
  }
}
#search{
  width: 200px;
}
.dropdown-menu {
  top:auto;
  left:auto;
  right:auto !important;
  padding:0;
  width:200px;
}
.icon-bar {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  display: block;
  background: #3996D3 none repeat scroll 0% 0%;
}
.formwrapper{
  @extend .panel;
  @extend .panel-success;
  h1 {
  text-align: center;
  }
  img {
    ;
  }
  width: 50%;
  margin: 0 auto;
}