/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*
 * "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 *
 *= require dropzone/dropzone
 *= require devise_bootstrap_views
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.header{
  background: radial-gradient(#1F3B8B, #3996d3);
  position: fixed;
  height:100px;
  width: 100%;
  margin:0px auto;
  top: 0px;
  z-index: 2;
  h1 {
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
  }
}

#content-wrapper {
  margin-top: 160px;
}

.table-image {
  height: 30px;
  width: 30px;
}
table#profile {
  @extend .table;
  @extend .table-bordered;

  width: 30%;
  margin: 0 auto;

  thead {
    th {
      background-color: #dddddd;
      border: 1px solid #ccc;
      img {
        //margin: 10px auto;
        position: relative;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translatex(-50%);
      }
    }
  }
  td {
    width: 50%;
    border: 1px solid #ccc;
    text-align: center;
  }
}

.panel {
  z-index: 1;
  top: 110px;
}
.contact_form {
  @extend .panel;
  @extend .panel-success;
}
.email-form {
  @extend .panel;
  @extend .panel-info;
  .panel-heading{
    background-color: #BCE8F1;
  }
}

.si{
  float: left;
  margin-right: 5px;
  width:40px;
  height:40px;
}

.st{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 134px;
}
.help-block{
  display: none;
}
.field_with_errors {
  color: red;
  input[type=text] {
    border: 1px solid red;
  }
}
.actions{
  text-align: center;

}
.new-contact, .new-user{
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-fixed-top {
  top: 100px;
  background:linear-gradient(white, #cccccc, #aaaaaa);
}
.navbar{
  &.list-group{
    z-index:10000;
  }
}
#search{
  width: 200px;
}
.dropdown-menu {
  top:auto;
  left:auto;
  right:auto !important;
  padding:0;
  width:200px;
}
.icon-bar {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  display: block;
  background: #3996D3 none repeat scroll 0% 0%;
}
.formwrapper{
  @extend .panel;
  @extend .panel-success;
  h1 {
  text-align: center;
  }
  img {
      position: relative;
      margin-bottom: 10px;
      margin-left: 50%;
      transform: translate(-50%);
  }
  width: 50%;
  margin: 0 auto;
}
.email-panel {
  position: absolute;
  width: 400px;
  height: 500px;
  margin-top: 10px;
}
.btn-info {
  background-color: #a0adb7;
  border-color: #a0adb7;
}
.btn-info:focus, .btn-info:hover {
  background-color: #337AB7;
}
.alert {
  display: none;
}
.dz-image {
  z-index: 0 !important;
}
.show_title {
  text-align: center;
}
.panel-title {
  text-align: center;
}
#huge_button {
  width: 300px;
  height: 340px;
  margin: 0 auto;
}

.add_friend_button {
  //@extend .btn;
  //@extend .btn-default;
  height: 300px;
  width: 300px;
  background-image: url("add_friend.png");
  filter: invert(0%);
}
.add_friend_button:hover {
  filter: invert(10%);
}

#add_friends {
  min-height: 50px;
}

//////////////////////////

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li
{
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;

  width: 100%;
  float: left;

  &.current-user {

    .box {
      border-radius: 10px;
      background-color: lightgreen;
      width: 75%;
      float: right;
      border: 3px solid green;
      .chat-header{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        width: 100%;
        background-color: #7dd37d;
        overflow: hidden;
        .chat-img {
          margin: 5px 5px;
          float: right;
        }
        .time-box {
          overflow: hidden;
          small {
            font-size: 65%;
          }
        }
        .primary-font{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
        .chat-header-text{
          padding: 5px 5px;
        }
      }
      .chat-body{
        overflow: hidden;
      }
    }
  }
  &.other-user {

    .box {
      border-radius: 10px;
      background-color: lightblue;
      width: 75%;
      float: left;
      border: 3px solid blue;
      .chat-img {
        float: left;
      }
      .text-muted{
        float: right;
      }
    }
  }
}



.chat li.left .chat-body
{
  margin-left: 60px;
}

.chat li.right .chat-body
{
  margin-right: 60px;
}


.chat li .chat-body p
{
  margin: 5px;
  color: #777777;
  float: left;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
  margin-right: 5px;

}

.chat-panel
{
  width: 400px !important;
}

.chat-panel-body
{
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
#messages{
  overflow: hidden;
}